# Entornos virtuales
venv/

.env

#Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


#System files
.DS_Store
Thumbs.db

#Python
*.pyc
*.pyo
__pycache__/

